{% extends "layout.html" %}

{% block title %}
Network | TCoin
{% endblock title %}

{% block body %}
<h3><strong>Network</strong></h3>
        <table class="table table-hover table-light">
            <thead>
                <th>NodeAddress</th>
            </thead>
            <tbody>
            {% if nodes != [] %}
                {% for node in nodes %}
                <tr>
                    <td>{{node}}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><i>No Connected Nodes...</i></tr>
            {% endif %}
            </tbody>
        </table>

{% endblock body %}