{% extends "layout.html" %}

{% block title %}
Send TCoin | TCoin
{% endblock title %}

{% block body %}
<h3>Send TCoin</h3>
{% from "includes/formhelpers.html" import render_field %}
<form method = "post">
    <strong>Sender Address:</strong><br>{{sender}}
    <hr>
    {{ render_field(form.receiver, class = "form-control") }}
    {{ render_field(form.input, class = "form-control") }}
    {{ render_field(form.output, class = "form-control") }}
    <button type="submit" class="btn btn-success">Send</button>
</form>
{% endblock body %}