{% extends "layout.html" %}
{% block title %}
TCOIN | Your Wallet
{% endblock title %}
{% block body %}
<!--<p><strong>Your Wallet</strong></p>
        <table class="table table-hover table-light">
            <thead>
                <th>Your Balance</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{wallet.coins}}</td>
                </tr>
            </tbody>
        </table>-->
<h1>Your Wallet:</h1>
<hr>
<h3>Balance: {{wallet.coins}}</h3>
{% endblock body %} 